{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<style>
    .heading {
        text-align: center;
    }
    .heading-title {
        margin-top: 50px;
    }
    .heading-description {
        margin-top: 20px;
    }
    .form-container {
        text-align: center;
        margin-top: 30px;
    }
</style>

<h1 class="heading heading-title">Welcome to The C'Ville Scene!</h1>
<h4 class="heading heading-description">A place where you can discover and plan the next perfect outing in Charlottesville.</h4>

<div class="form-container">
    <form method="POST" action="/home">
        <label for="dropdown_option">Set Your Scene:</label>
        <select name="dropdown_option" id="dropdown_option">
            <option value="Restaurants">Restaurants</option>
            <option value="Parks">Parks</option>
            <option value="Museums">Museums</option>
            <option value="Sporting Events">Sporting Events</option >
            <option value="Art Gallaries">Art Gallaries</option>
            <option value="Historical Sites">Historical Sites</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    {% if selected_option %}
        <p>You selected: <strong>{{ selected_option }}</strong></p>
    {% endif %}
</div>
{% endblock %}
